# Normalização estrita de finais de linha para LF em arquivos de texto e código
*.ps1 text eol=lf
*.psm1 text eol=lf
*.psd1 text eol=lf
*.json text eol=lf
*.md text eol=lf
*.js text eol=lf
*.css text eol=lf
*.html text eol=lf
*.svg text eol=lf

# Arquivos de configurações locais não normalizados
config.local.json text eol=native
*.log text eol=native
